services:
  rb-cdn:
    build:
      context: .
      dockerfile: dockerfile
      args:
        - GITHUB_TOKEN=${GITHUB_TOKEN}
        - VERSION=${VERSION}
    container_name: ${SERVICE_NAME}
    restart: always
    ports:
      - ${PORT}:${PORT}
    env_file:
      - .env
    environment:
      - ENV=${ENV}
      - PORT=${PORT}
      - SERVICE_NAME=${SERVICE_NAME}
      - SERVICE_ID=${SERVICE_ID}
      - NEW_RELIC_LICENSE_KEY=${NEW_RELIC_LICENSE_KEY}
      - GIN_MODE=${GIN_MODE}
      - MINIO_SERVER=${MINIO_SERVER}
      - MINIO_ACCESS_ID=${MINIO_ACCESS_ID}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
    networks:
      - traefik

networks:
  traefik:
    external: true